.card{
    height: 320px;
    width: 220px;
    margin: 80px;
    border: 3px solid black;
    display: inline-block;
    border-radius: 30px;
    background-color: skyblue;
    text-align: center;
    box-shadow: 3px 3px 50px red;
    transition: all 0.5s ease-in 0s;
}

.love{
    transition: all 10s ease 0s;
    transform: rotate(360deg);
    height: 150px;
    width: 200px;
}

.card:hover {
    box-shadow: 5px 5px 80px red;
    height: 350px;
    width: 250px;
}

img {
    width: 100%;
    border-radius: 30px;
}