.smiley {
    height: 300px;
    width: 300px;
    border: 5px solid gold;
    border-radius: 50%;
    margin: 10px;
    background-color: gold;
}

.eyes {
    height: 30px;
    width: 30px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
}

#one {
    position: relative;
    top: 65px;
    left: 70px;
}

#two {
    position: relative;
    top: 65px;
    left: 150px;
}

.mouth {
    height: 50px;
    width: 125px;
    border: 2px solid red;
    border-radius: 0px 0px 50px 50px;
    background-color: red;
    display: inline-block;
    position: relative;
    top: 200px;
    left: 10px;
}