<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <form method="POST" action="/posts">    
        <input type="text" placeholder="Enter Username" name="username"> <br><br>
        <textarea name="content" placeholder="Write your Post..."></textarea><br>
        <button>Post</button>
    </form>
</body>
</html>