h1{
    background-color: yellow;
    border: 2px solid black;
}

@media(width:400px){
    h1{
        background-color: red;
        color: white;
    }
    div{
        height: 100px;
        width: 100px;
        background-color: blue;
    }
}

@media(min-width:700px){
    h1{
        background-color: skyblue;
    }
}

@media(max-width:200px){
    h1{
        background-color: pink;
    }
}

@media(min-width:200px) and (max-width:700px){
    h1{
        background-color: aqua;
    }
}

@media(orientation: landscape){
    h1{
        color: brown; 
    }
}