.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    /* animation-name:font;
    animation-duration:3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 5; 
    animation-direction:alternate; */
    animation: font 2s ease-in 1s infinite alternate;
}

@keyframes font{
    from{
        font-size: 20px;
        background-color: aqua;
    }
    to{
        font-size: 40px;
        background-color: gold;
    }
}