*{
    background-color: whitesmoke;
}

div {
    height: 480px;
    width: 600px;
    border: 3px solid black;
    background-color: aqua;
    text-align: center;
    font-size: 50px;
    box-shadow: 5px 5px 100px red;
    margin: 200px auto;
    background-image: url("splashimage.jpg");
    background-size: cover;
}