div{
    height: 200px;
    width: 500px;
    background-color: pink;
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */
    border: 5px solid black;
    border-radius: 10px;
    padding-top: 10px;
    margin: 20px 30px 40px;
}

h1{
    border: 2px dashed green;
    margin: 0;
}

button{
    padding: 0px 30px 0px;
    background-color: skyblue;
}