div {
    height: 100px;
    width: 500px;
    background-color: aqua;
    border-width: 7px;
    border: solid, black;
    border-radius: 30px;
    padding: 10px;
}

h1{
    border: 3px,dashed,red;
    border-left: dotted blue;
}