.card{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0px 4px 8px black;
    transition: 1s;
}

img{
    width: 100%;
    height: 70%;
    border-radius: 5px 5px 0 0;
}

.desc{
    padding: 0 2px 0 2px;
}

.card:hover{
    box-shadow: 2px 8px 15px red;
}