*{
    font-family: 'Courier New';
}

h1{
    color: #1b74e4;
}

#search{
    background-color: black;
    color: white;
}

/* #login, #register{
    background-color: aqua;
} */

.userbtn{
    background-color: aqua;
}