h1 {
    text-align: center;
}

#container {
    height: 800px;
    width: 80%;
    border: 2px solid black;
    margin: 2px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* align-items: baseline; */
    align-content: center;
}

#container div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}