h1{
    text-align: center;
}

#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align-items: baseline; */
    align-content: flex-start;
}

#org{
    align-self: flex-start;
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    flex: 2 2 100px;
}

#blue{
    /* flex-basis: 400px; */
    /* flex-grow: 2; */
    /* max-width: 400px; */
    flex-grow: 2;
}

#container div{
    height: 100px;
    width: 100px;
    text-align: center;
    color: white;
    font-size: 1.5em;
}