#container{
    width: 600px;
    height: 300px;
    background-color: beige;
    display: grid;
    /* grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px; */
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
    /* row-gap: 10px;
    column-gap: 30px; */
    grid-gap: 10px 20px;
}

.item {
    /* width: 100px;
    height: 50px; */
    background-color: yellowgreen;
    border: 2px solid black;
    text-align: center;
}

.one {
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-column: 1 / 3; */
    grid-column: 1 / span 2;
}

.two {
    /* grid-row-start: 1;
    grid-row-end: 3; */
    /* grid-row: 1 / 3; */
    grid-row: 1 / span 2;
}
