h1 {
    background-color: rosybrown;
    border: 2px solid black;
}

@media (width:400px) {
    h1 {
        background-color: red;
        color: white;
    }
    div {
        height: 200px;
        width: 200px;
        background-color: gold;
    }
}

@media (min-width:700px) {
    h1 {
        background-color: skyblue;
    }
}

@media (max-width:200px) {
    h1 {
        background-color: goldenrod;
    }
}

@media (min-width:200px) and (max-width:300px) {
    h1 {
        background-color: red;
        color: white;
    }
}

@media (orientation: landscape) {
    h1 {
        background-color: black;
        color: white;
    }
}