.container{
    height: 400px;
    width: 400px;
    border: 2px solid lightgreen;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.box{
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 50px;
    text-align: center;
}

.container1{
    height: 50px;
    width: 900px;
    border: 2px solid lightgreen;
    border-radius: 10px;
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.boxes{
    height: 50px;
    width: 80px;
    font-size: 24px;
    border-radius: 10px;
    margin-left: 5px;
    line-height: 50px;
}