#outer{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: orange;
}

.lefteye, .righteye{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}

.righteye{
    left: 250px;
}

.mouth{
    height: 75px;
    width: 200px;
    border-radius: 0 0 50px 50px;
    background-color: red;
    position: absolute;
    top: 250px;
    left: 100px;
}
