h1{
    background-color: greenyellow;
    border: 5px solid red;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    transition-property: all;
    transition-duration: 2s;
}

h1:hover{
    background-color: skyblue;
    font-size: 20px;
}


