section{
    margin-top: 100px;
}

div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: aqua;
    border: 5px solid black;
    margin:10px auto;
}

div:nth-of-type(2n){
    background-color: tomato;
}

div:nth-of-type(3n){
    background-color: burlywood;
}

#one{
    transform:rotate(45deg); 
    /* +ve for clockwise & -ve for anticlockwise rotation */
}

#two{
    transform: scale(0.5); 
}

#three{
    transform:translate(-50px);
}

#four{
    transform:skew(45deg);
}