<%- include("includes/head.ejs"); %>
<body>
    <h1>Dice gave value
        <%= num %>
    </h1>
    <% if(num == 6){ %>
        <h2>Roll again!</h2>
    <% } %>
    <%- include("includes/footer.ejs"); %>
</body>
</html>