<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus error perferendis recusandae dignissimos quibusdam, odit nostrum ea iure quidem, distinctio maiores officia nisi vitae vel, ullam repellendus placeat? Soluta dolor minima, id aut esse magnam praesentium iste dolorum odit.</p>

    <button>Click me</button>
</body>
</html>