<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <h2>This page belongs to: @<%= username %></h2>
    <button>Follow</button>
    <button>Message</button>

    <ul>
        <h3>Followers: </h3>
        <% for (let name of followers) { %>
            <li> <%= name %> </li>
        <% } %>
    </ul>
    <%- include("includes/footer.ejs"); %>
</body>
</html>