<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new User</title>
</head>
<body>
    <form method="POST" action="/user/addUser">
        <input type="number" name="id" placeholder="Enter id">
        <input type="text" name="username" placeholder="Enter Username">
        <input type="email" name="email" placeholder="Enter email">
        <input type="password" name="password" placeholder="Enter password">
        <button>Add User!</button>
    </form>
</body>
</html>