h2 {
    color: darkorange;
}

span {
    color:darkgoldenrod;
}

.petcard {
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

#pet {
    display: flex;
    justify-content: space-evenly;
}

img {
    width: 100%;
    /* height:300px; */
    border-radius: 25px;
}

@media (max-width:375px) {
    #pet {
        flex-wrap: wrap;
    }
}