* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box {
    background: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}

.btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
}

.sidebar_menu {
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 250px;
    background-color: rgba(50, 35, 35, 0.7);
    box-shadow: 0 0 8px rgba(50, 35, 35, 0.8);
    transition: all 0.25s linear 0s;
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0px 2px 20px rgb(57, 118, 188);
    height: 60px;
}

.sidebar_menu .logo a {
    position: absolute;
    left: 60px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 60px;
}

.sidebar_menu .btn_two i{
    color: grey;
    font-size: 25px;
    position: absolute;
    left: 220px;
    line-height: 60px;
    cursor: pointer;
}

.sidebar_menu .menu li {
    margin-top: 10px;
    padding: 15px 15px;
}

.sidebar_menu .menu a,i {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar_menu .menu i {
    padding-right: 8px;
}

.sidebar_menu .social_media {
    color: white;
    opacity: 0.5;
    position: absolute;
    left: 60px;
    bottom: 40px;
}

.sidebar_menu .social_media a {
    padding: 8px;
}

#check {
    display: none;
    
}

.sidebar_menu .menu li:hover {
    box-shadow: 0px 5px 20px rgb(186, 60, 60);
}

.main_box .btn_one i:hover {
    transform: scale(1.1);
    color: goldenrod;
    transition: all 0.25s linear 0s;
}

.main_box .btn_two i:hover {
    transform: scale(1.1);
    color: whitesmoke;
    transition: all 0.25s linear 0s;
}

.sidebar_menu .social_media i:hover {
    transform: scale(1.2);
    opacity: 1;
    box-shadow: 4px 4px 8px rgb(194, 35, 35);
}

#check:checked ~ .sidebar_menu {
    left: 0;
}

#check:checked ~ .btn_one {
    display: none;
}